{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}
{% load auth_extras %}
{% load dict_key_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: my_profile_resources.html
# Application: templates
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
#         Xavier SCHMITT
#         xavier.schmitt@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block content %}
  <div id="body">


	<div class="width">

	<section id="content" class="one-column">

	    <article>
				
			


    {% if template == "all" or not template %}
            <div class="btn-group pull-right">
	            <button class="btn clear-fields" onclick="location.href='/curate'"><i class="icon-file"></i> Add New Resource</button>
            </div>
            <h3>My Resources</h3>
    {% endif%}
    {% if template == "organization" %}
            <div class="btn-group pull-right">
                <button class="btn clear-fields" onclick="location.href='/curate/start_curate?template=organization'"><i class="icon-file"></i> Add New Organization</button>
            </div>
            <h3>My Organizations</h3>
    {% endif%}
    {% if template == "datacollection" %}
      <div class="btn-group pull-right">
        <button class="btn clear-fields" onclick="location.href='/curate/start_curate?template=datacollection'"><i class="icon-file"></i> Add New Data Collection</button>
        <button class="btn clear-fields" onclick="location.href='/curate/start_curate?template=repository'"><i class="icon-file"></i> New Repository</button>
        <button class="btn clear-fields" onclick="location.href='/curate/start_curate?template=projectarchive'"><i class="icon-file"></i> New Project Archive</button>
        <button class="btn clear-fields" onclick="location.href='/curate/start_curate?template=database'"><i class="icon-file"></i> New Database</button>
      </div>
      <h3>My Data Collections</h3>
    {% endif%}
    {% if template == "dataset" %}
        <div class="btn-group pull-right">
            <button class="btn clear-fields" onclick="location.href='/curate/start_curate?template=dataset'"><i class="icon-file"></i> Add New Dataset</button>
        </div>
        <h3>My Datasets</h3>
    {% endif%}
    {% if template == "service" %}
        <div class="btn-group pull-right">
            <button class="btn clear-fields" onclick="location.href='/curate/start_curate?template=service'"><i class="icon-file"></i> Add New Service</button>
        </div>
        <h3>My Services</h3>
    {% endif%}
    {% if template == "informational" %}
        <div class="btn-group pull-right">
            <button class="btn clear-fields" onclick="location.href='/curate/start_curate?template=informational'"><i class="icon-file"></i> Add New Informational Site</button>
        </div>
            <h3>My Informational Sites</h3>
    {% endif%}
    {% if template == "software" %}
        <div class="btn-group pull-right">
            <button class="btn clear-fields" onclick="location.href='/curate/start_curate?template=software'"><i class="icon-file"></i> Add New Software</button>
        </div>
        <h3>My Software</h3>
    {% endif%}

<br>
<br>

<table>
<tr>

<td align="center" style={% if template == "all" or not template %}" border-color:#000000;border-size:15px"{% endif%}>
<a href="/my-profile/resources?template=all">
<img width="100" src="/static/img/allresources.png"><br>
All Resources
</a>
</td>
<td align="center" style={% if template == "organization" %}"border-color:#000000;border-size:15px"{% endif%}>
<a href="/my-profile/resources?template=organization">
<img width="100" src="/static/img/organization.png"><br>
Organizations
</a>
</td>
<td align="center" style={% if template == "datacollection" %}"border-color:#000000;border-size:15px"{% endif%}>
<a href="/my-profile/resources?template=datacollection">
<img width="100" src="/static/img/datacollection.png"><br>
Data Collections
</a>
</td>
<td align="center" style={% if template == "dataset" %}"border-color:#000000;border-size:15px"{% endif%}>
<a href="/my-profile/resources?template=dataset">
<img width="100" src="/static/img/dataset.png"><br>
Datasets
</a>
</td>
<td align="center" style={% if template == "service" %}"border-color:#000000;border-size:15px"{% endif%}>
<a href="/my-profile/resources?template=service">
<img width="100" src="/static/img/service.png"><br>
Services
</a>
</td>
<td align="center" style={% if template == "informational" %}"border-color:#000000;border-size:15px"{% endif%}>
<a href="/my-profile/resources?template=informational">
<img width="100" src="/static/img/informational.png"><br>
Informational
</a>
</td>
<td align="center" style={% if template == "software" %}"border-color:#000000;border-size:15px"{% endif%}>
<a href="/my-profile/resources?template=software">
<img width="100" src="/static/img/software.jpg"><br>
Software
</a>
</td>
</tr>
</table>

<br>
<br>

{% if XMLdatas%}
{% with canEdit=request.user|has_perm:'curate.curate_edit_document' canDelete=request.user|has_perm:'curate.curate_delete_document' %}

{% for XMLdata in XMLdatas %}
    {% with XMLdata|get:"_id" as XMLdata_id %}

            <div style="background-color:#eeeeee" id="{{XMLdata_id}}">
                <table>
                <tr>
                <td style="width:250px">
                <div style="margin-top:10px;">Resource Name</div></td>
                <td>
                    {% if XMLdata.content.Resource.identity.title %}
                        {{ XMLdata.content.Resource.identity.title }}
                    {%else%}
                        <script>
                            document.write('{{ XMLdata.title }}'.replace(/\.[^/.]+$/, ""));
                        </script>
                    {% endif %}
                <div style="float:right">
                    <button class="btn clear-fields" onclick="dialog_detail('{{XMLdata_id}}');">View Resource Details</button>
                </div>
                </td>
                </tr>
                </table>

                <table>
                <tr>
                <td>
                    {% if canEdit %}
                    <a href="/curate/enter-data?id={{XMLdata_id}}" class="button">Edit</a>
                    {% endif %}
                    {% if canDelete and not XMLdata.publicationdate %}
                    <a onclick="deleteResult('{{XMLdata_id}}')" class="button button-reversed">Delete</a>
                    {% endif %}


                </td>
                <td align="right">
                    {% if XMLdata.publicationdate %}
                        <font size="2">Published on: {{ XMLdata.publicationdate }} &nbsp;&nbsp;&nbsp;</font>
                    {% endif %}
                    {% if not XMLdata.publicationdate %}
                        <font size="2">Published on: Never &nbsp;&nbsp;&nbsp;</font>
                    {% endif %}
                    {% if not XMLdata.ispublished %}
                        <a onclick="updatePublish('{{XMLdata_id}}')" class="button">Publish</a>
                    {% endif %}
                </td></tr></table>
                </div>


<br>
<br>
{% endwith%}
{% endfor %}
{% endwith%}
{%else%}
No Resources found
{%endif%}
		
		</article>
	
        </section>
        
        
    	<div class="clear"></div>
    </div>
	</div>
 
            <div class="clear"></div>        
    {% endblock %}

{% block popups %}
<div id="dialog-delete-result" title="Delete Document" style="display:none;">
Are you sure you want to delete this document?
</div>
<div id="dialog-publish" title="Publish Document" style="display:none;">
Are you sure you want to publish this document?
</div>
<div id="dialog-unpublish" title="Unpublish Document" style="display:none;">
Are you sure you want to unpublish this document?
</div>
<div id="dialog-detail-result" title="Resource Details" style="display:none;">
<div id="result_detail">
</div>
</div>
{% endblock %}

  {% block extrajs %}

  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{% static 'inc/controllers/js/explore.js' %}"></script>
  <script src="{% static 'inc/controllers/js/nmrr/nmrr_explore.js' %}"></script>

  {% endblock %}


