<table class="data-table">
    <th>Registry</th>
    <th>Schema (Metadata prefix)</th>
    <th>URL Schema</th>
    {% for metadata in list_metadata_formats_info %}
    {% cycle 'even' '' as rowcolors silent %}
    <tr class="{{ rowcolors }}">
        <td width="300em;">{{metadata.registry}}</td>
        <td>{{metadata.metadataPrefix}}</td>
        <td width="300em;">{{metadata.schema}}</td>
    </tr>
    {% endfor %}
</table>

{% if local  %}
<table >
    <tr>
        <td width="300em;"><strong>Local Template:</strong></td>
        <td>{{local}}</td>
    </tr>
</table>
{% endif %}