{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: login.html
# Application: templates
# Description: 
#
# Author: Pierre Francois Rigodiat
#         pierre-francois.rigodiat@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block title %}<h3>Password reset</h3>{% endblock %}

{% block content %}
	{% include 'commons/forms/password_reset.html' %}
{% endblock %}
