{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: login.html
# Application: templates
# Description: 
#
# Author: Pierre Francois Rigodiat
#         pierre-francois.rigodiat@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block title %}<h3>Password reset</h3>{% endblock %}

{% block content %}
<div class="alert alert-success" id="banner_results_wait">
    <h4 ><i class='fa fa-check fa-2x'></i> </h4><p>Password reset successful. We've emailed you instructions for setting your password. You should be receiving them shortly.<br/>
    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
</div>
    <div style="text-align: center;"> <button class="btn" type="submit" onclick="window.location='/login';">Log in</button></div>
{% endblock %}
