{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: curate_enter_data.html
# Application: templates
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
# 		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nmrr/repo.css' %}" media="screen" />
{% endblock %}

{% block menu %}
    {% include 'nmrr/menus/main.html' with active_tab='tab2' %}
{% endblock %}

{% block title %}
<h3>
{% if template_name == 'organization' %}
<i class="fa fa-university fa-2x" aria-hidden="true" style="color: #2CAAE2;"></i>
Add New Organization
{% elif template_name == 'datacollection' %}
<i class="fa fa-table fa-2x" aria-hidden="true"
   style="color: black;position:relative;bottom:0px;right:-9px;z-index: 1;"></i>
<i class="fa fa-table fa-2x" aria-hidden="true"
   style="color: #A1C057;position:relative;right:30px;bottom:13px;"></i>
Add New Data Collection
{% elif template_name == 'repository' %}
<img width="100" src="/static/img/datacollection.png">
Add New Repository
{% elif template_name == 'projectarchive' %}
<img width="100" src="/static/img/datacollection.png">
Add New Project Archive
{% elif template_name == 'database' %}
<i class="fa fa-database fa-2x" aria-hidden="true" style="color: grey;"></i>
Add New Database
{% elif template_name == 'dataset' %}
<i class="fa fa-database fa-2x" aria-hidden="true" style="color: grey;"></i>
Add New Dataset
{% elif template_name == 'service' %}
<i class="fa fa-cogs fa-2x" aria-hidden="true" style="color: #EBB057;"></i>
Add New Service
{% elif template_name == 'informational' %}
<i class="fa fa-info-circle fa" aria-hidden="true"
   style="color: #257ABC;position:relative;top:-14px;left:24px;"></i>
<i class="fa fa-laptop fa-2x" aria-hidden="true"
   style="color: #257ABC;position:relative;right:20px;"></i>
Add New Informational Site
{% elif template_name == 'software' %}
<i class="fa fa-tachometer fa-2x" aria-hidden="true" style="color: #79B320;"></i>
Add New Software
{% endif %}
</h3>
{% endblock %}

{% block content %}

Please select one of the following options to Add your Resource. You can create a new record, continue editing a previously saved draft, or upload an XML file.

<div class="alert alert-danger" id="banner_errors" style="display: none;">
        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
     	<h4><i class="fa fa-exclamation-circle fa-1x"></i> Error</h4>
        <div id="form_start_errors">
</div>
</div>
<div class="clearer">&nbsp;</div>
<div id="dialog-message" title="Template Loaded">
    <form id="form_start" action="/curate/start_curate" method="post">
        {% csrf_token %}
		{% include 'curate/curate_start.html' %}
	</form>
	<br/>
	<div id="form_start_errors" style="color:red;"></div>
	<br/>
	<a class="button start-curate" onclick="load_enter_data('{{template_name}}');">Start</a>
	<a class="button button-reversed cancel" onclick="window.location='/curate'">Cancel</a>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/curate.js' %}"></script>
<script>
    enterKeyPressSubscription();
	init_curate();
    initBanner();
	syncRadioButtons();
</script>
{% endblock %}