{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: curate_view_data.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/XMLTree.css' %}" media="screen" />
{% endblock %}

{% block menu %}
    {% include 'nmrr/menus/main.html' with active_tab='tab2' %}
{% endblock %}

{% block title %}<h3>Review Data</h3>{% endblock %}
{% block description %}

{% endblock %}


{% block content %}
{% if not edit %}
You can now review your data. Click on 'Add Resource' to add the resource to the registry. You will then be able to publish it from your Dashboard to make it publicly discoverable by everyone.
{% else %}
You can now review your data. Click on 'Save Changes' to update the resource in the registry.
{% endif %}
<div class="clearer">&nbsp;</div>

<div id="XMLHolder"></div>

<br/><br/>
{% if not edit %}
<a class="button save-to-repo">ADD RESOURCE</a>
{% else %}
<a class="button save-to-repo">SAVE CHANGES</a>
{% endif %}
<a class="button button-reversed edit">Edit Form</a>
{% endblock %}


{% block popups %}
<div id="dialog-save-data-message" title="Save to Repository" style="display:none;">
	Save data to the repository.
	<form id="form_save" action="/curate/save_data" method="post">
	{% csrf_token %}
	{{form_save}}
	</form>
	<div id="saveErrorMessage" style="color:red;"></div>
</div>

<div id="dialog-saved-message" title="Data Saved" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Save to repository successful.
  </p>
</div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/XMLTree.js' %}"></script>
<script src="{% static 'inc/controllers/js/curate.js' %}"></script>
<script src="{% static 'inc/controllers/js/nmrr/nmrr_curate.js' %}"></script>
<script>
load_xml();
$('.button.save-to-repo').on('click', saveToRepositoryProcess);
$('.button.edit').on('click', editForm);
</script>
{% endblock %}
