{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}
{% load i18n admin_static %}

{% comment %}
<!--
################################################################################
#
# File Name: index.html
# Application: templates/admin
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/nmrr/admin.css' %}" />
{% endblock %}

{% block title %}<h1>User Management</h1>{% endblock %}

{% block admin_menu %}{% include 'admin/menu/main.html' with active_tab='tab2' %}{% endblock %}
{% block admin_submenu %}{% include 'admin/menu/submenu/user.html' with active_tab='tab1' %}{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content%}
{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table style="background-color:#f0f0f0">
            <caption>
                <a href="{{ app.app_url }}" class="section"
                   title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                    {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
                </a>
            </caption>
            {% for model in app.models %}
                <tr class="model-{{ model.object_name|lower }}">
                {% if model.admin_url %}
                    <th scope="row" width="400"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% else %}
                    <th scope="row" width="400">{{ model.name }}</th>
                {% endif %}

                {% if model.add_url %}
                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}

                {% if model.admin_url %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
{% endblock %}

