<!-- 
################################################################################
#
# File Name: manage_versions.html
# Application: templates/admin
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'resources/css/lib/bootstrap.min.css' %}"  media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'css/mdcs/style.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/icons.css' %}" media="screen" />

<!-- JQuery & JQuery UI -->
<script src="{% static 'resources/lib/jquery/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'resources/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'resources/lib/jquery-ui/themes/smoothness/jquery-ui.css' %}"/>        
<script src="{% static 'resources/lib/jquery-ui/themes/smoothness/jquery-ui.js' %}"></script>
<script src="{% static 'inc/controllers/js/xsd_mgr.js' %}"></script>
<script src="{% static 'inc/controllers/js/csrf.js' %}"></script>
	
<div id="model_version">		
	<p><b>upload new version:</b>
	{% if objectType == "Template" %}
	<input type='file' id='fileVersion' name='files[]' onchange="handleSchemaVersionUpload(event)"></input>
	{% else %}
	<input type='file' id='fileVersion' name='files[]' onchange="handleTypeVersionUpload(event)"></input>
	{% endif %}
	<span class='btn' id='updateVersionBtn' versionid='{{ objectVersions.id }}' objectType='{{ objectType }}' onclick='uploadVersion()'>upload</span></p>
	<div id='objectUploadErrorMessage'></div>
	
	<table>
	{% for version, datetime in versions.items %}
	   <tr>
	       <td>Version {{version.version}} </td>	       
	       {% if version.id|stringformat:"s" == objectVersions.current|stringformat:"s" %}
	       <td style='font-weight:bold;color:green'>Current</td>
	       <td><span class='icon legend delete' id='delete{{version.version}}' objectid='{{version.id}}' objectType='{{ objectType }}' onclick='deleteVersion("delete{{version.version}}")'>Delete</span></td>
	       {% elif version.id|stringformat:"s" in objectVersions.deletedVersions %}
	       <td style='color:red'>Deleted</td>
	       <td><span class='icon legend retrieve' id='restore{{version.version}}' objectid='{{version.id}}' objectType='{{ objectType }}' onclick='restoreVersion("restore{{version.version}}")'>Restore</span></td>
	       {% else %}
	       <td><span class='icon legend long' id='setcurrent{{version.version}}' objectid='{{version.id}}' objectType='{{ objectType }}' onclick='setCurrentVersion("setcurrent{{version.version}}")'>Set Current</span></td>
	       <td><span class='icon legend delete' id='delete{{version.version}}' objectid='{{version.id}}' objectType='{{ objectType }}' onclick='deleteVersion("delete{{version.version}}")'>Delete</span></td>        
	       {% endif %}
	       <td> {{ datetime|safe }} </td>
       </tr>
   {% endfor %}
   </table>
</div>  
<style>
body{
background: white;
}
</style>

<div id="dialog-deleteversion-message" title="Confirm Delete" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    <p>Are you sure you want to delete this version?</p>
    <p id="delete_custom_message"></p>
  </p>
</div>

<div id="dialog-error-edit" title="Error Edit Information" style="display:none;">
<p></p>
  <p>
    A type with this filename already exists.
  </p>
</div>