{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}
{% comment %}
<!--
################################################################################
#
# File Name: website.html
# Application: templates/admin
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mdcs/style.add.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'css/nmrr/admin.css' %}" media="screen" />
{% endblock %}

{% block title %}<h1> XSLT Manager</h1>{% endblock %}

{% block admin_menu %}{% include 'admin/menu/main.html' with active_tab='tab3' %}{% endblock %}
{% block admin_submenu %}{% include 'admin/menu/submenu/template.html' with active_tab='tab3' %}{% endblock %}

{% block content%}

<h2 class="left">Exporter XSLT</h2>
<div class="clearer">&nbsp;</div>
<div class="btn-group pull-right">
<!--<span class="ctx_menu">-->
    <span class="btn btn-default upload" onclick="displayImport();">
        <i class="fa fa-upload"></i> Upload XSLT
    </span>
<!--</span>-->
</div>

<!--<div class="right-side">-->
<!--<span class="ctx_menu">-->
		<!--<div class="icon legend long upload" onclick="displayImport();">​Upload XSLT​</div>​-->
<!--</span>-->
<!--</div>-->

{% if xslt_files %}
<table class="data-table">
  <tr>
  	<th>XSLT name</th>
    <th>Filename</th>
    <th>All templates</th>
    <th>Actions</th>
  </tr>

{% for object in xslt_files %}
  {% cycle 'even' '' as rowcolors silent %}
  <tr class="{{ rowcolors }}">
    <td>{{ object.name }}</td>
    <td>{{ object.filename }}</td>
    <td id="ButtonSet{{object.id}}">
			{% if object.available_for_all %}
				<input id="{{object.id}}" class="cmn-toggle cmn-toggle-round" disabled="True" type="checkbox" checked >
			{% else %}
				<input id="{{object.id}}" class="cmn-toggle cmn-toggle-round" type="checkbox" disabled="True">
			{% endif %}
			<label for="{{object.id}}"></label>
	</td>
    <td>
    	<div class="icon legend edit" objectid="{{ object.id }}" typeXSLT="Exporter">Edit</div>
    	<div class="icon legend delete" objectid="{{ object.id }}" typeXSLT="Exporter" onclick="deleteXSLT(this)">Delete</div>
	</td>
  </tr>

{% endfor %}

</table>

{% else %}
<br>
	There are currently no Exporter XSLT uploaded.  Please click "Upload XSLT" to the right to add Exporter XSLT files.
	<br>
	<br>
{% endif %}

<h2 class="left">Result XSLT</h2>
<div class="clearer">&nbsp;</div>

<div class="btn-group pull-right">
<!--<span class="ctx_menu">-->
    <span class="btn btn-default upload" onclick="displayResultImport();">
        <i class="fa fa-upload"></i> Upload XSLT
    </span>
<!--</span>-->
</div>

<!--<div class="right-side">-->
<!--<span class="ctx_menu">-->
		<!--<div class="icon legend long upload" onclick="displayResultImport();">​Upload XSLT​</div>​-->
<!--</span>-->
<!--</div>-->
{% if result_xslt_files %}
<table class="data-table">
  <tr>
  	<th>XSLT name</th>
    <th>Filename</th>
    <th>Actions</th>
  </tr>

{% for object in result_xslt_files %}
  {% cycle 'even' '' as rowcolors silent %}
  <tr class="{{ rowcolors }}">
    <td>{{ object.name }}</td>
    <td>{{ object.filename }}</td>
    <td>
    	<div class="icon legend edit" objectid="{{ object.id }}" typeXSLT="Result">Edit</div>
    	<div class="icon legend delete" objectid="{{ object.id }}" typeXSLT="Result" onclick="deleteXSLT(this)">Delete</div>
	</td>
  </tr>

{% endfor %}

</table>

{% else %}
<br>
	There are currently no Result XSLT uploaded.  Please click "Upload XSLT" to the right to add Result XSLT files.
	<br>
	<br>
{% endif %}


{% endblock %}

{% block popups %}
<div id="dialog-message" title="Upload Exporter XSLT" style="display: none;">
	<form id="form_start" action="/admin/xml-schemas/manage-xslt" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			<tr>
				<td>{{upload_xslt_Form.name.label}}</td>
				<td>{{upload_xslt_Form.name}}</td>
			</tr>
			<tr>
				<td>{{upload_xslt_Form.xslt_file.label}}</td>
				<td>{{upload_xslt_Form.xslt_file}}</td>
			</tr>
			<tr>
				<td>Available for all templates</td>
				<td id="ButtonSet">{{upload_xslt_Form.available_for_all}}<label for="{{upload_xslt_Form.available_for_all.id_for_label}}">vv</label></td>
			</tr>
		</table>
		<div id="form_start_current"></div>
	</form>
	<div id="form_start_errors" style="color:red;">
	</div>
</div>


<div id="dialog-result-message" title="Upload Result XSLT" style="display: none;">
	<form id="form_result_start" action="/admin/xml-schemas/manage-result-xslt" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			<tr>
				<td>{{upload_result_xslt_Form.result_name.label}}</td>
				<td>{{upload_result_xslt_Form.result_name}}</td>
			</tr>
			<tr>
				<td>{{upload_result_xslt_Form.result_xslt_file.label}}</td>
				<td>{{upload_result_xslt_Form.result_xslt_file}}</td>
			</tr>
		</table>
		<div id="form_result_start_current"></div>
	</form>
	<div id="form_result_start_errors" style="color:red;">
	</div>
</div>

<div id="dialog-edit-message" title="Edit XSLT" style="display: none;">
	<table>
		<tr>
			<td>{{upload_xslt_Form.name.label}}</td>
			<td><input type="text" id="edit-name"/></td>
		</tr>
		<tr>
	</table>
	<div id="form_edit_errors" style="color:red;">
	</div>
</div>


<div id="dialog-deletexslt-message" title="Confirm Delete" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    <p>Are you sure you want to delete this XSLT?</p>
    <p id="delete_custom_message"></p>
  </p>
</div>

<div id="dialog-error-edit" title="Error Edit Information" style="display:none;">
<p></p>
  <p>
    An XSLT with this filename already exists.
  </p>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/xslt_mgr.js' %}"></script>
<script>
Init();
</script>
{% endblock %}

