{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: menu.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
# 		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}
<ul class="dropdown sf-menu">
    <li class="{% if active_tab == 'tab1' %} selected {% endif %}"><a href="/">Home</a></li>
    <li class="{% if active_tab == 'tab2' %} selected {% endif %}">
        <a href="/all-options">Services <i class="fa fa-angle-double-right"></i></a>
        <ul>
            <li><a href="{% url 'expore-index-keyword' %}">{{ CUSTOM_EXPLORE }}</a></li>
            <li><a href="/curate">{{ CUSTOM_CURATE }}</a></li>
        </ul>
    </li>

    {% if user.is_authenticated %}
    <li class="{% if active_tab == 'tab3' %} selected {% endif %}"><a href="/dashboard">Dashboard</a></li>
    <li><a href="/logout">Logout</a></li>
    {% else %}
    <li class="{% if active_tab == 'tab3' %} selected {% endif %}"><a href="/login">Login</a></li>
    {% endif %}

    <li class="{% if active_tab == 'tab4' %} selected {% endif %}"><a href="/help">Help</a></li>
    <li class="{% if active_tab == 'tab5' %} selected {% endif %}"><a href="/contact">Contact</a></li>
    <!-- <li class="{% if active_tab == 'tab6' %} selected {% endif %}"><a href="/api">API</a></li> -->
</ul>