{% extends 'nmrr/base/default.html' %}
{% comment %}
<!--
################################################################################
#
# File Name: base.html
# Application: templates
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block intro %}
<div id="intro">
<div class="width" style="height:80px">
<div class="intro-content" style="padding:20px 40px">
<h2>{{CUSTOM_TITLE}} <sup><span class="alpha">Beta</span></sup></h2>
</div>
</div>
</div>
{% endblock %}

{% block menu %}
    {% include 'nmrr/menus/main.html' %}
{% endblock %}

{% block container %}
{% block popups %}{% endblock %}

<div class="content" id="content-two-columns">
    <div id="main-wrapper">
        <div id="main">
            <div class="post">
                {% block messages %}
                    {% if messages %}
                        <ul class="messagelist">
                            {% for message in messages %}
                            <li style="display:block">
                                <div class="alert alert-info">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <i class="fa fa-check"></i> {{message}}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock messages %}
                <div class="post-title">{% block title %}{% endblock %}</div>
                <div class="post-body">
                    <p class="large">{% block description %}{% endblock %}</p>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="sidebar-wrapper">
        <div id="sidebar">
        {% block sidebar %}{% endblock %}
        </div>
    </div>
    <div class="clearer">&nbsp;</div>
</div>
{% endblock %}