<table id="add" class="font-medium">
    <tr>
        <td>{{registry_form.url.label}}</td>
        <td>{{registry_form.url}}</td>
    </tr>
    <tr>
        <td>{{registry_form.harvestrate.label}}</td>
        <td>{{registry_form.harvestrate}}</td>
    </tr>
    <tr>
        <td>{{registry_form.harvest.label}}</td>
        <td id="ButtonSetAdd{{registry_form.data.id}}">
            {{registry_form.harvest}}
            <label for="{{registry_form.harvest.id_for_label}}">
            </label>
        </td>
    </tr>
</table>