{% load i18n %}
{% comment %}

<!--
################################################################################
#
# File Name: login.html
# Application: templates
# Description:
#
# Author: Pierre Francois Rigodiat
#         pierre-francois.rigodiat@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}
<div style="margin-left:20px;">
    {% if password_change_required %}
        <p class='help'>{% trans "Your password has expired. Please change it using the form below." %}</p>
    {% else %}
        <p class='help'>Use the following form to change your password.</p>
    {% endif %}
    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            {% if form.old_password.errors %}
            <tr>
                <td colspan="2">
                <div class="alert alert-error" id="banner_errors" style="display: block;height: auto;">
                    <h4><i class="fa fa-exclamation-circle fa-1x"></i>
                    </h4>
                    {{ form.old_password.errors }}
                </div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <label for="id_old_password">Old password:</label></td>
                <td>{{ form.old_password }}</td>
            </tr>
            {% if form.new_password1.errors %}
            <tr>
                <td colspan="2">
                <div class="alert alert-error" id="banner_errors" style="display: block;height: auto;">
                    <h4><i class="fa fa-exclamation-circle fa-1x"></i>
                    </h4>
                    {{ form.new_password1.errors }}
                </div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            {% if form.new_password2.errors %}
            <tr>
                <td colspan="2">
                <div class="alert alert-error" id="banner_errors" style="display: block;height: auto;">
                    <h4><i class="fa fa-exclamation-circle fa-1x"></i>
                    </h4>
                    {{ form.new_password2.errors }}
                </div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <label for="id_new_password2">Confirm password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
            <tr>
                <td></td>
                <td><button class="btn" type="submit">Change my password</button></td>
            </tr>
        </table>
    </form>
</div>