{% load i18n %}
{% comment %}

<!--
################################################################################
#
# File Name: login.html
# Application: templates
# Description:
#
# Author: Pierre Francois Rigodiat
#         pierre-francois.rigodiat@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}
<div style="margin-left:20px;">

{% if form.errors %}
<div class="alert alert-error" id="banner_errors" style="display: block;">
    <h4><i class="fa fa-exclamation-circle fa-1x"></i>     {{ form.email.errors.as_text }}</h4>
</div>
{% endif %}

<p style="margin-left:0.5em;">Enter your email address below (the address you registered with), and we'll send you instructions on resetting your password.</p>
<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td width="100em;">{% trans 'Email address:' %}</td>
            <td>{{ form.email }}</td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn" type="submit" value="{% trans 'Reset my password' %}">{% trans 'Reset my password' %}</button></td>
        </tr>
    </table>
</form>

<br/>
<div class="clearer">&nbsp;</div>
</div>
