{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}
{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: dashboard.html
# Application: templates
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
#         Xavier SCHMITT
#         xavier.schmitt@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}
{% block title %}<h3>Dashboard</h3>{% endblock %}
{% block content %}

<div id="body">
	<div class="width">
		<section id="content" class="one-column">
			<article>
				<div class="article-info"></div>
				<table>
					<tr>
						<td align="center">
							<a href="/dashboard/my-profile">
							<div align="center"><img width="100" src="/static/img/myprofile.png"><br>
							My Profile</div>
							</a>
						</td>
						<td align="center">
							<a href="/dashboard/resources">
							<div align="center"><img width="100" src="/static/img/allresources.png"><br>
							My Resources</div>
							</a>
						</td>
						<td align="center">
							<a href="/dashboard/drafts">
							<div align="center"><img width="100" src="/static/img/draft.png"><br>
							My Drafts</div>
							</a>
						</td>
					</tr>
				</table>
				<div class="clearer">&nbsp;</div>
				<br/><br/>
			</article>
		</section>
    	<div class="clear"></div>
    </div>
</div>
{% endblock %}
