{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: login.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block title %}<h3>Login</h3>{% endblock %}
{% block menu %}
    {% include 'nmrr/menus/main.html' with active_tab='tab3' %}
{% endblock %}


{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nmrr/login.css' %}"/>
{% endblock %}
{% block content %}
	{% include 'commons/forms/login.html' %}
{% endblock %}
