{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}
{% comment %}
<!--
################################################################################
#
# File Name: my_dashboard_my_forms.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Xavier SCHMITT
#		  xavier.schmitt@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/exploreTabs.css' %}"  media="screen" />
{% endblock %}
{% block title %}
    {% if user.is_staff %}
        <h1><span>My Drafts / Other Users' Drafts</span></h1>
    {% else %}
        <h1><span>My Drafts</span></h1>
    {% endif %}
{% endblock %}
{% block menu %}{% include 'nmrr/menus/main.html' with active_tab='profile' %}{% endblock %}

{% block content%}
    <div class="btn-group pull-right">
        <button class="btn clear-fields" onclick="location.href='/dashboard'"><i class="icon-file"></i> My Dashboard</button>
    </div>
    {% if user.is_staff %}
        <span>
            <div class="tpl-title">My Drafts</div>
        </span>
    {%endif%}

    {% if forms %}
        <span>
        You can review all drafts you have created and delete the ones you don't need. <br/><br/>
        </span>
        {% include 'dashboard/my_dashboard_my_forms_table.html' with forms=forms usernames=usernames %}
    {% else %}
        <br/>
            There are no drafts saved for now.
        <br/>
    {% endif %}
    <div class="clear"></div>
    {% if user.is_staff %}
        <span>
            <div class="tpl-title">Other Users' Drafts</div>
        </span>
        {% if otherUsersForms%}
            {% include 'dashboard/my_dashboard_my_forms_table.html' with forms=otherUsersForms %}
        {%else%}
            No other users' drafts found
        {%endif%}
    {%endif%}
{% endblock %}

{% block popups %}
<div id="dialog-delete-form" title="Delete Form" style="display:none;">
Are you sure you want to delete this draft?
</div>

<div id="dialog-change-owner-form" title="Change Form Owner" style="display:none;">
    <div class="alert alert-danger" id="banner_errors" style="display: none;">
        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
        <h4><i class="fa fa-exclamation-circle fa-1x"></i> Error</h4>
        <div id="form_start_errors">
        </div>
    </div>
    Please select the new owner:
       {{user_form}}
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/curate.js' %}"></script>
{% endblock %}

