{% load dict_key_extras %}

{% for XMLdata in XMLdatas %}
    {% with XMLdata_id=XMLdata|get:"_id" status=XMLdata.status XMLdata_id_str=XMLdata|get:"_id"|stringformat:"s" %}
      {% with draft=XMLdatasDrafts|get:XMLdata_id_str %}
        <br><br>
        <div id="{{XMLdata_id}}">
            <table class="data-table" style="background-color:#eeeeee;margin-bottom: 0.2em;">
                <tr>
                    <td style="width:310px">
                        <div style="margin-top:10px;">Resource Name</div>
                    </td>
                    <td width="400em">
                        {% if XMLdata.content.Resource.identity.title %}
                            {{ XMLdata.content.Resource.identity.title }}
                        {%else%}
                            <script>
                                document.write('{{ XMLdata.title }}'.replace(/\.[^/.]+$/, ""));
                            </script>
                        {% endif %}
                    </td>
                    <td>
                        <div style="float: right">
                            {% autoescape on %}
                                    <a href="/dashboard/detail?type=record&id={{XMLdata_id}}"><span class="icon legend result">
                                        View
                                    </span></a>
                            {% endautoescape %}
                        </div>
                        <div id="light">
                            <span {% if status == Status.ACTIVE %}class="active"{%endif%} id="green"></span>
                            <span {% if status == Status.INACTIVE %}class="active"{%endif%} id="orange"></span>
                            <span {% if status == Status.DELETED %}class="active"{%endif%} id="red"></span>
                            Status:
                            <select style="width:auto;text-align: center;" id="status{{XMLdata_id}}" name="status{{XMLdata_id}}" onchange="change_status('{{XMLdata_id}}','{{XMLdata.ispublished}}');">
                                <option value="{{Status.ACTIVE}}" {% if status == Status.ACTIVE %}selected{%endif%}>Active</option>
                                <option value="{{Status.INACTIVE}}" {% if status == Status.INACTIVE %}selected{%endif%}>Inactive</option>
                                {% if XMLdata.ispublished %}
                                    <option value="{{Status.DELETED}}" {% if status == Status.DELETED %}selected{%endif%}>Deleted</option>
                                {% endif %}
                            </select>

                        </div>
                    </td>
                </tr>
                <tr>
                    {% if user.is_staff and request.user.id|stringformat:"i" != XMLdata.iduser %}
                        <td width="100em">
                                User
                        </td>
                        <td colspan="2">
                            {{usernames|get:XMLdata.iduser}}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        {% if canEdit %}
                            {% if not XMLdata.ispublished %}
                                <a href="/curate/enter-data?id={{XMLdata_id}}" class="btn clear-fields">Edit record</a>
                            {% elif not draft %}
                                <a href="/curate/enter-data?id={{XMLdata_id}}" class="btn clear-fields">Create new version</a>
                            {% endif %}
                        {% endif %}
                        <a onclick="changeOwnerRecord('{{XMLdata_id}}')" class="btn clear-fields">Change Owner</a>
                        {% if canDelete and not XMLdata.publicationdate %}
                        <a onclick="deleteResult('{{XMLdata_id}}')" class="btn clear-fields">Delete record</a>
                        {% endif %}
                    </td>
                    <td align="right" colspan="2">
                        <div style="float:right">
                        {% if XMLdata.publicationdate %}
                            <font size="2">Published on: {{ XMLdata.publicationdate }} &nbsp;&nbsp;&nbsp;</font>
                        {% endif %}
                        {% if not XMLdata.publicationdate %}
                            <font size="2">Published on: Never &nbsp;&nbsp;&nbsp;</font>
                        {% endif %}
                        {% if not XMLdata.ispublished %}
                            <a onclick="updatePublish('{{XMLdata_id}}')" class="btn clear-fields">Publish record</a>
                        {% endif %}
                            </div>
                    </td>
                </tr>
            </table>
            <table class="draft" style="background-color:#eeeeee;">
                {% if draft %}
                 <tr>
                     <td style="width:310px"></td>
                     <td style="width:400px">

                             {% if XMLdata.content.Resource.identity.title %}
                                {{ XMLdata.content.Resource.identity.title }}
                            {%else%}
                                <script>
                                    document.write('{{ XMLdata.title }}'.replace(/\.[^/.]+$/, ""));
                                </script>
                            {% endif %}
                         ,&nbsp;<font color="red" size="3"><strong>new version</strong></font>
                     </td>
                    <td>
                        <div style="float: right">
                            {% autoescape on %}
                                    <a href="/dashboard/detail?type=form&id={{draft}}"><span class="icon legend result">
                                        View
                                    </span></a>
                            {% endautoescape %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/curate/enter-data?id={{XMLdata_id}}" class="btn clear-fields">Edit new version</a>
                        <div class="btn clear-fields" onclick='deleteDraft("{{draft}}")'>Delete new version</div>
                    </td>
                    <td align="right" colspan="3">
                        <a onclick="updatePublishDraft('{{draft}}')" class="btn clear-fields">Publish new version</a>
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% endwith%}
    {% endwith%}
{% endfor %}