{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}
{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: my_dashboard_my_records.html
# Application: profile/dashboard
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Xavier SCHMITT
#		  xavier.schmitt@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}
{% block menu %}{% include 'nmrr/menus/main.html' with active_tab='profile' %}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nmrr/result.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'css/nmrr/selection.css' %}"  media="screen" />
{% endblock %}

{% block content %}
    <div id="body">
        <div class="width">
            <div class="btn-group pull-right">
                <button class="btn clear-fields" onclick="location.href='/dashboard'"><i class="icon-file"></i> My Dashboard</button>
                <button class="btn clear-fields" onclick="location.href='/curate'"><i class="icon-file"></i> Add New Resource</button>
            </div>
            <h3>My Resources</h3>

            <br>
            <br>
            <div style='display: none' id="my_role" >
                <input type="checkbox" name="my_role" id="Organization" value="Organization">
                <input type="checkbox" name="my_role" id="DataCollection" value="DataCollection">
                <input type="checkbox" name="my_role" id="Dataset" value="Dataset">
                <input type="checkbox" name="my_role" id="ServiceAPI" value="ServiceAPI">
                <input type="checkbox" name="my_role" id="WebSite" value="WebSite">
                <input type="checkbox" name="my_role" id="Software" value="Software">
            </div>

            <table id="icons_table">
            <tr>
                <td id="td_all" align="center" onclick="click_role('all');get_url('{{ispublished}}');">
                    <img width="100" src="/static/img/allresources.png">
                    <div class="tick" align="right">
                         <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <br/>
                    All Resources
                </td>
                <td id="td_Organization" align="center" onclick="click_role('Organization');get_url('{{ispublished}}');" >
                    <img width="100" src="/static/img/organization.png">
                    <div class="tick" align="right">
                         <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <br>
                    Organizations
                </td>
                <td id="td_DataCollection"  align="center" onclick="click_role('DataCollection');get_url('{{ispublished}}');" >
                    <img width="100" src="/static/img/datacollection.png">
                    <div class="tick" align="right">
                         <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <br>
                    Data Collections
                </td>
                <td id="td_Dataset" align="center" onclick="click_role('Dataset');get_url('{{ispublished}}');">
                    <img width="100" src="/static/img/dataset.png">
                    <div class="tick" align="right">
                         <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <br>
                    Datasets
                </td>
                <td id="td_ServiceAPI" align="center" onclick="click_role('ServiceAPI');get_url('{{ispublished}}');">
                    <img width="100" src="/static/img/service.png">
                    <div class="tick" align="right">
                         <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <br>
                    Services
                </td>
                <td id="td_WebSite" align="center" onclick="click_role('WebSite');get_url('{{ispublished}}');">
                    <img width="100" src="/static/img/informational.png">
                    <div class="tick" align="right">
                         <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <br>
                    Informational Sites
                </td>
                <td id="td_Software" align="center" onclick="click_role('Software');get_url('{{ispublished}}');">
                    <img width="100" src="/static/img/software.jpg">
                    <div class="tick" align="right">
                         <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <br>
                    Software
                </td>
            </tr>
            </table>

            <ul class="nav nav-tabs">
                    {% if ispublished == None %} <li class="active"> {%else%} <li> {% endif%} <a onclick="get_url('None');">All</a></li>
                    {% if ispublished == True %} <li class="active"> {%else%} <li> {% endif%} <a onclick="get_url('True');">Published</a></li>
                    {% if ispublished == False %} <li class="active"> {%else%} <li> {% endif%} <a onclick="get_url('False');">Not Published</a></li>
            </ul>

            {% if user.is_staff %}
                <span>
                    <div class="tpl-title">My Resources</div>
                </span>
            {%endif%}

            {% if XMLdatas%}
                {% with canEdit=request.user|has_perm:'curate.curate_edit_document' canDelete=request.user|has_perm:'curate.curate_delete_document' %}
                    {% include 'dashboard/my_dashboard_my_records_table.html' with XMLdatas=XMLdatas %}
                {% endwith%}
            {%else%}
                <br><br>
                No Resources found
            {%endif%}
            <div class="clear"></div>
            {% if user.is_staff %}
                <span>
                    <div class="tpl-title">Other Users' Resources</div>
                </span>
                {% if OtherUsersXMLdatas%}
                    {% with canEdit=request.user|has_perm:'curate.curate_edit_document' canDelete=request.user|has_perm:'curate.curate_delete_document' %}
                        {% include 'dashboard/my_dashboard_my_records_table.html' with XMLdatas=OtherUsersXMLdatas %}
                    {% endwith%}
                {%else%}
                    No other users' resources found
                {%endif%}
            {%endif%}
        </div>
	</div>
{% endblock %}

{% block popups %}
<div id="dialog-delete-draft" title="Delete new version" style="display:none;">
    <div class="alert alert-warning" id="banner_wait" style="display: none;">
        <h4><i class='fa fa-circle-o-notch fa-spin fa-2x'></i>  </i>&nbsp;&nbsp;Please wait...</h4>
    </div>
Are you sure you want to delete this new version?
</div>
<div id="dialog-delete-result" title="Delete Document" style="display:none;">
Are you sure you want to delete this document?
</div>
<div id="dialog-publish" title="Publish Document" style="display:none;">
Are you sure you want to publish this document?
</div>
<div id="dialog-unpublish" title="Unpublish Document" style="display:none;">
Are you sure you want to unpublish this document?
</div>
<div id="dialog-detail-result" title="Resource Details" style="display:none;">
<div id="result_detail">
</div>
</div>
<div id="dialog-publish-draft" title="Publish new version" style="display:none;">
    <div class="alert alert-warning" id="banner_wait_publish" style="display: none;">
        <h4><i class='fa fa-circle-o-notch fa-spin fa-2x'></i>  </i>&nbsp;&nbsp;Please wait...</h4>
    </div>
Are you sure you want to publish this new version? Please note this will permanently delete the current published record.
</div>

<div id="dialog-change-owner-record" title="Change Record Owner" style="display:none;">
    <div class="alert alert-danger" id="banner_errors" style="display: none;">
        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
        <h4><i class="fa fa-exclamation-circle fa-1x"></i> Error</h4>
        <div id="form_start_errors">
        </div>
    </div>
    Please select the new owner:
       {{user_form}}
</div>
{% endblock %}

{% block extrajs %}
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{% static 'inc/controllers/js/dashboard.js' %}"></script>
  <script>
    initNmrr('{{roles}}');
    initBanner();
  </script>
{% endblock %}
