{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: my_profile.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block menu %}{% include 'nmrr/menus/main.html' with active_tab='profile' %}{% endblock %}
{% block title %}<h1><span>My Profile</span></h1>{% endblock %}

{% block content%}
<div class="clearer">&nbsp;</div>
<div class="btn-group pull-right">
	<button class="btn" onclick="location.href='/dashboard/my-profile/edit'">
        <i class="icon-file"></i> Edit Profile
    </button>
	<button class="btn" onclick="location.href='/dashboard/my-profile/change-password'">
        <i class="icon-hdd"></i> Change Password
    </button>
	<button class="btn" onclick="location.href='/dashboard'">
        <i class="icon-file"></i> My Dashboard
    </button>
</div>
<br/><br/>

<table style="width:50%">
    <tr>
        <td><b>Name:</b></td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
    </tr>
    <tr>
        <td><b>Username:</b></td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td><b>Admin:</b></td>
        <td>{{ user.is_staff }}</td>
    </tr>
    <tr>
        <td><b>Active:</b></td>
        <td>{{ user.is_active }}</td>
    </tr>
    <tr>
        <td><b>Superuser:</b></td>
        <td>{{ user.is_superuser }}</td>
    </tr>
    <tr>
        <td><b>Last Login:</b></td>
        <td>{{ user.last_login }}</td>
    </tr>
    <tr>
        <td><b>Date Joined:</b></td>
        <td>{{ user.date_joined }}</td>
    </tr>
</table>
{% endblock %}
