{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: my_profile_change_password.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/exploreTabs.css' %}"  media="screen" />
{% endblock %}

{% block title %}<h1><span>My Profile - Change Password</span></h1>{% endblock %}
{% block menu %}{% include 'nmrr/menus/main.html' with active_tab='profile' %}{% endblock %}

{% block content%}
<div class="clearer">&nbsp;</div>
Use the following form to change your password.
<div>
<br/>
<form action="/dashboard/my-profile/change-password" method="post" onsubmit="return validatePassword()">
 	{% csrf_token %}
    {{ form }}
    <br/>
    <div id="password_error" style="font-weight: bold;">
    {{action_result}}
    </div>
    <input type="submit" class="btn" value="Change Password"/>
</form>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/user_account_req.js' %}"></script>
{% endblock %}

