@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

body {
	background: #ddd;
	/*background-image: url('../img2.jpg');
	background-repeat: no-repeat;**/
	margin:0;
	padding:0;
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 1.0em;
	color: #888;
	font-weight: 300;
}

* {
	margin:0;
	padding:0;
}

/** element defaults **/
table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #666;
	background: #ccc none repeat-x scroll left top;
}

td {
	border-bottom: 1px solid #ccc;
}

code, blockquote {
	display: block;
	border-left: 5px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #333;
	color:#ccc;
	border: none;
	font-family: "Courier New", Courier, monospace;
}
blockquote {
	border-left: 5px solid #ccc;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #999;
	height: 1%;
}

p {
	line-height: 1.7em;
	margin-bottom: 25px;
}

/*
This conflicts with the NMRR template
a {
	color: #699BBA;
	border-bottom: 1px solid #AFC9DA;
	text-decoration: none;
}

a:hover {
	border-bottom-color: #333;
	color: #333;
}

a:focus {
	outline: none;
}
*/

table caption {
  display: table-caption;
  text-align: left;
}

a.button { background:#8CB2CA;
color: #FFF;
display: inline-block;

    padding: 10px 22px;

    font-size: 0.75em;
    letter-spacing: 0.25px;
	line-height: 1.3em;
border-radius: 5px;	
text-decoration: none;
	border:none;
text-transform: uppercase;
font-weight: bold;
	border-right: 1px solid #4C82A4;
	border-bottom: 1px solid #4C82A4;
}

a.button:hover {
	background:#699BBA;
	cursor: pointer;
}

a.button-reversed { 
	background-color: #ddd;
	color: #666;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

a.button-reversed:hover {
	background: #ccc;
}

fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}

fieldset legend {
	font-weight: bold;
	font-size: 0.9em;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 0.9em;
}

form input.formbutton {
background: none repeat scroll 0% 0% #D5484F;
color: #FFF;
display: inline-block;

    padding: 8px 22px;

    font-size: 0.75em;
    letter-spacing: 0.25px;
	line-height: 1.3em;
border-radius: 5px;	
text-decoration: none;
	border:none;
text-transform: uppercase;
font-weight: bold;


	width: auto;
	overflow: visible;
}

form.searchform input {
  font-size: 0.9em;
    padding: 6px;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	color: #ff0000;
}

h1 {
	color: #000;
	font-size: 2.7em;
	margin-bottom: 10px;
}

h2 {
	color: #363A3F;
	font-size: 3em;
	letter-spacing: -2.5px;
	padding: 0 0 10px;
	font-weight: 400;
	margin: 0;
}

h3 {
	margin-bottom: 10px;
	letter-spacing: -1px;
	font-weight: 500;
	font-size: 1.7em;
	color: #699BBA;
}

h4 {
    color: #ccc;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 10px;
	font-weight: bold;
}

h5 {
	padding-bottom: 10px;
	font-size: 1.1em;
	color: #999;
}


ul, ol {
	margin: 0 0 35px 35px;
	padding: 0;
	list-style: disc;
}


/* skb overlap fixes in the http://localhost:8181/admin/auth/user/ page */
div#changelist-filter ul, ol {margin: 0 0 0px 16px;}

div#changelist-filter h3 {font-size:18px;line-height:12px;}

div#changelist-filter h2 {font-size:20px;}

div#changelist-filter ul li a {font-size:14px; line-height:14px;}

nav#nmrr_admin_main_menu a {
    color:#699BBA;
    font-size: 1.2em;
}

nav#nmrr_admin_user_menu a {color:#699BBA}

nav#nmrr_admin_website_menu a {color:#699BBA}

section#content.one-column {width:100%} 

section#content.one-column article div form ul {margin: 0 0 0px 16px;}

li {
	padding-bottom: 10px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


.width {
	max-width: 1100px;
	margin: 0 auto;
}

.full-width .width {
	max-width: 100%;
	margin: 0 4%;
}

#container {
	width: auto;
	margin: 0 auto;
}

.fixed-header header {
	position: fixed;
	width: 100%;
}

header {
	padding: 0;
	margin: 0 auto;
	text-align: left;
	background-color: #8CB2CA;
}



header h1 {
	margin: 0;
	float: left;
}

header h1 a {
    color: #F5F8FA;
    padding: 20px 25px;
	background-color: #699BBA;
   font-size: 0.8em;
    border-bottom: none;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}

 header h1 a:hover { color: #fff }

nav#main {
	float: right;
	margin-top: 0px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

nav ul ul { 
	margin: 0;
	padding: 0;
}

nav ul li {
	display: block;
	float: left;
	padding: 0px;
}

nav ul li li {
	padding: 0;
}


nav ul li a {
	display: block;
	float: left;
	padding: 2px 5px;
    color: #fff;
	border-bottom: 3px solid #8CB2CA;
    font-size: 1.0em;
	margin: 0 20px;
     border-bottom: none;
	letter-spacing: 0px;
}

nav ul li a i { padding-right: 5px; }

nav ul li li a {
	float: none;
	padding: 15px 0 15px 5px;
}

nav ul li a:hover {
	color: #fff;
	text-decoration: none;
}

nav ul li.selected a, nav ul li.selected a:hover {
	color: #fff;
	border-bottom: 3px solid #699BBA;
	font-weight: bold;
}


nav ul li a:hover, nav ul li.sfHover a {
	color: #fff;
}


nav ul li a.sf-with-ul:hover, nav ul li.sfHover a {
	color: #fff;
}


 nav ul li.sfHover ul a, nav ul ul {
	background: #699BBA;
}

nav ul li.sf-with-ul.selected ul li a, nav ul li.selected.sfHover li a,  nav ul li.sfHover a a, nav ul li.selected li a  {
	font-weight: normal;
}

nav ul li li a:hover, nav ul li.sfHover li a:hover {
	color: #fff;
	background-color: #699BBA;
	text-decoration: underline;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			200px; /* left offset of submenus need to match (see below) */
	margin-top: 	10px;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			21px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			auto; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/* intro */
div#intro {
	background: linear-gradient(#232323, #333);
}

div#intro .intro-content {
	padding: 65px 40px;
	text-align: center;
}

div#intro div.intro-content-short {
	padding: 30px 0 20px 20px;
	text-align: left;
}


div#intro h2 {
	text-shadow: 2px 2px 0 #000;
	font-size: 3em;
	font-weight: 400;
}

div#intro h2, div#intro p {
	color: #fff;
}

div#intro p {
	font-size: 1.3em;
	color: #ddd;
	line-height: 1.3em;
}

a.button-slider {
	padding: 18px 25px;
	font-size: 0.8em;
	text-align: center;
	border: 2px solid #699BBA;
	margin: 0px 10px 0px 0;
}

a.button-slider.button-reversed {
	border-color: #999;
}

a.button-slider i { padding-right: 5px; }

img {
	max-width: 100%;
	height: auto;
}

#body {
	background: #fff;
	margin: 0 auto;
 	padding: 30px 15px 50px;
	clear: both;
}

.fixed-header #body { 
	padding-top: 100px; 
	margin-top: 0;
}

#content {
    float: left;
}

.two-column {
	width: 66%;
}

.three-column {
	width: 46%;
	margin: 0 2%;
}

.with-right-sidebar {
	margin-right: 2%;
}

.with-left-sidebar {
	margin-left: 2%;
}


article {
    padding: 10px 10px 70px 5px;
 }

article .article-info {
    color: #c0c0c0;
    font-size: 0.9em;
    letter-spacing: -0.5px;
    padding: 0 0 10px 0;
}

article .article-info a { 
	color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.sidebar {
	margin-top: 10px;
	color: #999;
	font-size: 0.95em;
}

.small-sidebar { 
   width: 25%;
}

.big-sidebar {
	width: 30%;
}

.left-sidebar { 
	float: left;
}

.right-sidebar {
	float: right;
}



.sidebar h4 {
	padding-bottom: 0;
	font-size: 1.4em;
	color: #555;
	letter-spacing: -1px;
	padding: 0;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;
	padding: 10px;
}

.sidebar ul li.bg, .sidebar ul li.bg h4, .sidebar ul li.bg a, .sidebar ul li.bg a:hover {
	background-color: #699BBA;
	color: #fff;
}
.sidebar ul li.bg a, .sidebar ul li.bg a:hover {
	border-bottom-color: #fff;
}


.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 10px 2px;
	margin: 0;
	line-height: 1.5em;
	font-size: 0.85em;
}

.sidebar li ul li ul {
	margin-top: 10px;
}

.sidebar li ul li li  {
	font-size: 1.0em;
	padding-left: 15px;
}



.sidebar li ul li.text { 
	border-bottom: none;
}



.sidebar li a {

	 border-bottom-color: #ccc;
	color: #999;
}


.sidebar li a:hover {
	color: #333;

	 border-bottom-color: #333;
}
.sidebar li ul li a.readmore {
   font-weight: bold;
}


.sidebar li.color-bg {
	background-color: #f0f0f0;
}

.sidebar li.color-bg h4 {
	color: #555;
}

.sidebar ul.blocklist li {
	padding: 0;
}

.sidebar ul.blocklist li a,
.sidebar ul.blocklist li a:hover {
	border-bottom: 0;
	display: block;
	padding: 12px 10px;
}

.sidebar ul.blocklist li a.selected {
	background:#699BBA;
    color: #FFFFFF;
	font-weight: bold;

}
.sidebar li ul.blocklist li li {
	font-size: 1.0em;
}

.sidebar li ul.blocklist ul {
	margin-top: 0;
}

.sidebar li ul.blocklist li li a,
.sidebar li ul.blocklist li li a:hover {
	padding-left: 25px;
}

.sidebar ul.newslist li {
	padding: 20px 0px;
}

.sidebar ul.newslist p {
	line-height: 2.5em;
	margin-bottom: 0;
}

.sidebar ul.newslist span.newslist-date { 
	background-color: #699BBA;
	color: #fff;
	padding: 5px 10px;
}




.clear {
	clear: both;
}

footer {
	margin: 0px auto 0;
	background: #ECECEC;
	border-top: 10px solid #ddd;
}

footer p {
	text-align: left;
	color: #ccc;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #ccc;
	font-weight: bold;
}

.footer-content {
	padding: 60px 25px 70px;
}

footer .footer-content ul {
	width: 25%;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

footer .footer-content li {
	padding: 5px 5px;
}

footer .footer-content li a, footer .footer-content h4 {
}

footer .footer-content li a {
	color: #909090;
	border-bottom-color:#ccc;
    
}

footer .footer-content li {
	color: #909090;
	line-height: 1.9em;
	font-size: 0.75em;
}

footer .footer-content li a:hover { 
	color: #333;
	border-bottom-color:#666;
}

footer .footer-content h4 {
	color: #909090;
    	font-size: 1.9em;
    	padding-bottom: 10px;
	font-weight: 300;
	letter-spacing: -0.5px;
	text-transform: none;
}

footer .footer-bottom {
	padding: 10px;
	text-align: center;
	background-color: #e0e0e0;
}

footer .footer-bottom p {
	text-align: center;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #999;
	border-bottom-color: #999;
}

footer .footer-content li div.social-icons a {
	border-bottom: none;
	margin-right: 15px;
	color: #699BBA;
	font-size: 25px;
}

footer .footer-content li div.social-icons a:hover {
	color: #999;
}


@media screen and (max-width: 740px) {

	body { font-size: 0.8em; }	

	
	header { text-align: center; }

	header h1 { float: none; text-align: center;  }

	header h1 a, header h1 a:hover { float: none; padding: 5px; }

	nav { float: none; }

	nav ul li a { padding: 20px 10px; }

	nav ul li li a { padding: 7px 0 7px 7px; }

	.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 23px; }

	div#container { width: auto; }

	footer .footer-content ul { margin-bottom: 15px; }

	footer .footer-content ul.endfooter { margin-bottom: 0px; }

	.width { width:auto; padding-left: 10px; padding-right: 10px; }
	
	#content, aside.sidebar { float: none; width: auto; }

	#content { padding: 0px; }

	footer .footer-content ul { width: auto; float: none; }
}


@media screen and (max-width: 540px) {


	body { font-size: 0.8em; }

	header { text-align: center; padding: 10px 0 5px; }

	header h1 a, header h1 a:hover { text-align: center;  padding: 10px; font-size: 1.1em; }

	header h1, nav { float: none; }
	
	nav { height: auto; position: relative; margin-top: 5px; }

	nav ul { margin: 0; }
	
	.sf-menu ul { position: relative; width: auto; display: block; margin-top: 0; }

	nav ul ul { margin: 0px; border-top-right-radius: 0; }

	nav ul li { margin: 5px 0; padding: 0; float: none; }

	nav ul li a { background-color: #699BBA; padding: 5px 7px; margin:0; }

	nav ul li li a { padding: 2px 0 2px 10px; }

	nav ul li a, .sf-menu li { float: none; }

	nav ul li li { margin: 0; }

	div#intro .intro-content { padding: 20px 5px; }
	
	div#intro div.intro-content-short { padding: 20px 5px 10px; }

	div#body { margin-top: 10px; padding: 10px 5px 20px } 

	.full-width .width { margin: 0 0.2%; }

	.fixed-header #body { padding-top: 220px; }

	.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 0; }

	.footer-content { padding: 20px 20px; }


}


.alpha{
	border:3px solid grey;
	color:grey;
	padding:3px;
	padding-top: 0px; 
	padding-bottom: 0px;
	border-radius:5px; 
	font-size: 30px;
}

#search{
	font-size: 0.8em;
}

input[placeholder]{
	text-overflow:ellipsis;
}

input[placeholder]:hover{
	-moz-transition: text-indent 8s 0.5s linear;  
	-webkit-transition: text-indent 8s 0.5s linear;   
	-ms-transition: text-indent 8s 0.5s linear; 
	-o-transition: text-indent 8s 0.5s linear; 
	transition: text-indent 8s 0.5s linear;  
	text-indent: -1000px;
	opacity: 1;
}

input[placeholder]:focus{
	-moz-transition: text-indent 0s 0s linear;  
	-webkit-transition: text-indent 0s 0s linear;   
	-ms-transition: text-indent 0s 0s linear; 
	-o-transition: text-indent 0s 0s linear; 
	transition: text-indent 0s 0s linear;  
	text-indent: 0;
	opacity: 1;
}

.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 25px;
  background-color: #dddddd;
  border-radius: 25px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 25px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 28px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background: #8ce196 no-repeat url('../../resources/img/check.png');
  background-size:  16px;
  background-position: 15%;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 33px;
}
.tpl-title {
	text-align: center;
	font-size: 22px;
	margin-bottom: 0.5em;
	font-weight: bold;
}


/* Tables */

table {margin-bottom: 1.4em; width: 100%;}
/*th {font-weight: bold;}
thead th {background: #C3D9FF;}
th,td,caption {padding: 4px 10px 4px 5px;}
tr.even td {background: #F2F6FA;}
tfoot {font-style: italic;}
caption {background: #EEE;}

table.data-table {
	border: 1px solid #EEE;
	margin-bottom: 2em;
	width: 100%;
}
table.data-table th {
	background: #EEE;
	border: 1px solid #DDD;
	color: #555;
	text-align: left;
}
table.data-table tr {border-bottom: 1px solid #EEE;}
table.data-table td, table th {padding: 8px 10px;}
table.data-table td {
	background: #F6F6F6;
	border: 1px solid #E6E6E6;
}
table.data-table tr.even td {background: #FCFCFC;}*/