<!-- 
################################################################################
#
# File Name: explore_results.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->

{% extends "mdcs/extra/two_columns.html" %}
{% load staticfiles %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.add.css' %}"  media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/queryResult.css' %}"  media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/exploreTabs.css' %}"  media="screen" />
{% endblock %}

{% block title %}<h1>Query Results</h1>{% endblock %}

{% block description %}From here you can view the results of your query.{% endblock %}

{% block menu %}{% include 'mdcs/menus/main.html' with active_tab='tab3' %}{% endblock %}

{% block submenu %}	
<ul id="subnav-tab-2" class="tabbed" style="display: none;">
	<li><a href="/explore/select-template">Select Template</a></li>
	<li><a href="/explore/customize-template">Select Fields</a></li>	 
	<li class="current_page_item"><a href="/explore/perform-search">Perform Search</a></li> 		  
</ul>
{% endblock %}	

{% block content %}
<div class="toolbar">
	<div class="btn-group pull-right">
		<span class="btn" onclick="backToQuery();" style="text-decoration:none">Back to Query</span>    
	</div>
	<br/><br/>
</div>
<div id="results"></div>
{% endblock %}

{% block sidebar %}
<div class="box">
	<div class="box-title">{{CUSTOM_EXPLORE}}</div>
	<div id="explore-tabs">
		<div class="tab">
		    <input type="radio" id="tab-1" name="tab-group-1" disabled>
		    <label for="tab-1" style="color:grey;"><nobr>Query by Example</nobr></label>
		</div>
		<div class="tab">	       
	       <input type="radio" id="tab-2" name="tab-group-1" checked>
	       <label for="tab-2"><nobr>SPARQL Endpoint<nobr></label>
	       <div class="content">
	           <div class="box-content">
				  <ul class="nice-list">
				    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_1.png' %}"></td><td><nobr><a href="/explore/select-template">Select Template</a></nobr></td></tr></table></li>
				    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_2.png' %}"></td><td><nobr><a href="/explore/customize-template">Select Fields</a></nobr></td></tr></table></li>						    
				    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_3.png' %}"></td><td><nobr><strong><a href="/explore/perform-search">Perform Search</a></nobr></strong></td></tr></table></li>
				  </ul>
				</div>	
	       </div> 
	   </div>
	</div>
</div>
{% endblock %}
