{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}
{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: explore_keyword.html
# Application: templates
# Description: This is the keyword explore template used by the system.
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume Sousa Amaral
#		  guillaume.sousa@nist.gov
#
#         Pierre Francois RIGODIAT
#         pierre-francois.rigodiat@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/explore.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'libs/fancytree/skin-bootstrap/ui.fancytree.css' %}"  class="skinswitcher">
<link rel="stylesheet" type="text/css" href="{% static 'css/nmrr/selection.css' %}"  media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/lib/jquery.tagit.css' %}"  media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/3.3.5/css/glyphicon.css' %}">
{% endblock %}

{% block title %}<h3>Search for Resources</h3>{% endblock %}



{% block content %}
{% csrf_token %}
<div id="search">
		<div class="toolbar" style="display: block;">
			<div class="alert alert-warning" id="banner_results_wait" style="display: none;">
		 		<h4><i class='fa fa-circle-o-notch fa-spin fa-2x'></i>  </i>&nbsp;&nbsp;Please wait...</h4>
    		</div>
			<div class="alert alert-error" id="banner_errors" style="display: none;">
				<a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
				<h4><i class="fa fa-exclamation-circle fa-1x"></i> Error</h4>
				<div id="btn_errors">
				</div>
			</div>
			<div class="alert alert-info" id="banner_results_errors" style="display: none;">
				<h4>
					<a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
					<p id="results_errors">
					</p>
				</h4>
			</div>
		</div>
        <div id="searchContainer">
			<div class="loading" id="loading"></div>
			<input id="submit" name="submit" type="button" onclick="get_results_keyword_refined()" value="Search" />
			<div>
				{{search_Form.search_entry}}
			</div>
        </div>
		<div style="display: none;">{{search_Form.my_schemas}}</div>
        <div id="form_result_start_current"></div>
</div>
<table id="icons_table">
	<tr>
		<td align="center" value="all" onclick="selectType('all', this);">
			<i class="fa fa-globe fa-5x" aria-hidden="true" style="color: #557EB9"></i>
			<div class="tick" align="right">
			  	 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
			</div>
			<br/>
			All Resources
		</td>
		<td align="center" value="Resource.role.type==Organization" onclick="selectType('Resource.role.type==Organization', this);">
			<i class="fa fa-university fa-5x" aria-hidden="true" style="color: #2CAAE2;"></i>
			<div class="tick" align="right">
			  	 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
			</div>
			<br>
			Organizations
		</td>
		<td align="center" value="Resource.role.type==Collection" onclick="selectType('Resource.role.type==Collection', this);">
			<i class="fa fa-table fa-4x" aria-hidden="true"
				   style="color: #A1C057;position:relative;bottom:0px;right:-19px;"></i>
			<i class="fa fa-table fa-4x" aria-hidden="true"
			   style="color: black;position:absolute;right:50px;bottom:32px;"></i>
			<div class="tick" align="right">
				 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
			</div>
			<div style="position:relative;top:15px;">Data Collections</div>
		</td>
		<td align="center" value="Resource.role.type==Dataset: Database" onclick="selectType('Resource.role.type==Dataset: Database', this);">
			<i class="fa fa-database fa-5x" aria-hidden="true" style="color: grey;"></i>
			<div class="tick" align="right">
			  	 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
			</div>
			<br>
			Datasets
		</td>
		<td align="center" value="Resource.role.type==Service" onclick="selectType('Resource.role.type==Service', this);">
			<i class="fa fa-cogs fa-5x" aria-hidden="true" style="color: #EBB057;"></i>
			<div class="tick" align="right">
			  	 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
			</div>
			<br>
			<div>Services</div>
		</td>
		<td align="center" value="Resource.role.type==Web Site" onclick="selectType('Resource.role.type==Web Site', this);">
			<i class="fa fa-info-circle fa-2x" aria-hidden="true"
			   style="color: #257ABC;position:relative;top:19px;left:-2px;"></i>
			<i class="fa fa-laptop fa-5x" aria-hidden="true"
			   style="color: #257ABC;position:absolute;right:50px;"></i>
			<div class="tick" align="right">
				 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
			</div>
			<div style="position:relative;top:50px;">Informational Sites</div>
		</td>
		<td align="center" value="Resource.role.type==Software" onclick="selectType('Resource.role.type==Software', this);">
			<i class="fa fa-tachometer fa-5x" aria-hidden="true" style="color: #79B320;"></i>
			<div class="tick" align="right">
			  	 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
			</div>
			<br>
			Software
		</td>
	</tr>
</table>
<div>
	<span id="filters_refinements">
		<text>Search criteria used
			(<a href="javascript:void(0)" onclick="clearAllTrees();" class="clearAll">Clear all</a>):
		</text>
		<div id="results_infos"></div>
		<ul id="myFilters">
		</ul>
	</span>
</div>
<table class="main_table">
	<tr>
		<td style="background-color:#fafafa;">
			<!--<select id="results_view" name="results_view">-->
			<!--<option value="simple"> Brief Results View-->
			<!--<option value="detailed"> Detailed Results View-->
			<!--<option value="custom"> Custom View-->
			<!--</select>-->
			<table>
				<tr>
					<td style="width:220px">
						<!--<br/>-->
						<!--<a id="config_custom" onclick="configure_custom_view();" style="display:none;cursor: pointer;">Change Custom View</a>-->
						<!--<br/><br/>-->
						<div style="display: none;">
							Resource Type:
							<form id="refine_resource_type">
								<input type="radio" name="resource_type" value="all"> All Resources<br/>
								<input type="radio" name="resource_type" value="organization"> Organization<br/>
								<input type="radio" name="resource_type" value="datacollection"> Data Collection<br/>
								<input type="radio" name="resource_type" value="repository"> Repository<br/>
								<input type="radio" name="resource_type" value="projectarchive"> Project Archive<br/>
								<input type="radio" name="resource_type" value="database"> Database<br/>
								<input type="radio" name="resource_type" value="dataset"> Dataset<br/>
								<input type="radio" name="resource_type" value="service"> Service<br/>
								<input type="radio" name="resource_type" value="informational"> Informational Site<br/>
								<input type="radio" name="resource_type" value="software"> Software<br/>
								<br/>
							</form>
						</div>
						<div id="refine_common"></div>
						<div id="refine_resource">
						</div>
						<hr/>
						{% if search_Form.form_oai_pmh.my_registries %}
						<div id="id_my_registries">
							Data Providers:
								<br/>
							{% for value, label in search_Form.form_oai_pmh.my_registries.field.choices %}
								<input type='checkbox' checked_id="id_my_registries_{{ forloop.counter0 }}"
									   name="my_registries" value='{{value}}' onchange='get_results_keyword_refined();'>
								<label style="padding-left: 10px; display:inline;" for="id_my_registries_{{ forloop.counter0 }}">{{label}}</label>
								<br/>
							{% endfor %}
						</div>
						<br/>
						{% endif %}
					</td>
					<td style="background-color:#FFFFFF">
						<div id="results">
						Please wait...
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

{% endblock %}

{% block popups %}
<div id="dialog-detail-result" title="Resource Details" style="display:none;">
	<div id="result_detail">
	</div>
</div>

<div id="dialog-custom-view" title="Custom View" style="display:none;">
	Select the fields that you want to display in the result page and click on 'Apply'. <br/><br/>
	<div id="custom_view">
	</div>
</div>

<div id="dialog-custom-view-error" title="Custom View" style="display:none;">
No Custom View available for this type of resource.
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/explore.js' %}"></script>
<script src="{% static 'libs/tags/tag-it.js' %}"></script>
<script src="{% static 'libs/tags/tag-it_custom_extensions.js' %}"></script>
<script src="{% static 'inc/controllers/js/nmrr/nmrr_explore.js' %}"></script>
<script src="{% static 'inc/controllers/js/nmrr/oai_pmh_explore.js' %}"></script>
<script src="{% static 'libs/jquery-shorten/1.1.0/jquery.shorten.js' %}"></script>
<script src="{% static 'libs/fancytree/jquery.fancytree.js' %}"></script>
<script src="{% static 'libs/fancytree/jquery.fancytree.glyph.js' %}"></script>
<script src="{% static 'libs/fancytree/jquery.fancytree.wide.js' %}"></script>
<script src="{% static 'libs/fancytree/jquery.fancytree.customtag.js' %}"></script>
<script src="{% static 'libs/history/jquery.history.js' %}"></script>

<script>
    initAutocomplete();
    initSearch('{{listRefinements}}', '{{keyword}}', '{{resource}}', '{{data_provider}}');
	initTagFilters();
</script>
{% endblock %}

